html, body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    height: 100vh;
    
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    
    margin-top: 60px;
    padding: 30px 30px 20px;

    border: 1px solid rgba(119, 119, 119, 0.678);
    border-radius: 4px;
}

.logo {
    width: 300px;
    margin: 20px 0;
}

h2 {
    text-align: center;
    color: rgb(249, 178, 51);
}

form {
    display: flex;
    flex-direction: column;
}

form input, form button, form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px rgba(119, 119, 119, 0.678) solid;
    background-color: white;
}

form select {
    cursor: pointer;
}

.select-social-media, .social-media {
    display: inline-flex;
    justify-content: space-between;

    margin-bottom: 5px;
}

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgba(119, 119, 119, 0.26);
}

.social-media legend {
    font-size: 14px;
}

.social-media .checkmark {
    border-radius: 50%;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: rgb(249, 178, 51);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 5px;
    top: 3px;
    width: 2px;
    height: 5px;
    border: 1px solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.social-media .container .checkmark:after {
    top: 5px;
    width: 2px;
	height: 2px;
	border-radius: 50%;
	background: white;
}

form button {
    font-weight: bold;
    font-size: 14px;    
    color: white;
    background-color: rgb(249, 178, 51);

    border: 0;

    cursor: pointer;
}

section form input{
    opacity: 100;
    visibility: visible;

    transition: all 300ms;
}

section form input.hide {
    opacity: 0;
    visibility: hidden;
    margin-top: -40px;
}

.select-social-media {
    opacity: 100;
    visibility: visible;

    transition: all 300ms;
}

.select-social-media.hide {
    opacity: 0;
    visibility: hidden;
    margin-top: -35px;
}