html, body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

.logo {
    width: 350px;
    margin: 20px 0;
}